/* This CSS overrides other default ones */
.slick-slider .slick-list .slick-track .slick-slide {
    margin-right: 16px;
    width: 309px !important;
}

.slick-slider .slick-next:before, .slick-slider .slick-prev:before {
    color: black;
}

.slick-list, .slick-track {
    display: flex;
}

.newItem__wrap {
    width: 309px;
}

.margintop0 {
    margin-top: 0;
}

.nocountdownborder {
    border: none;
}