/* This CSS overrides other default ones */
.slick-slider .slick-list .slick-track .slick-slide {
    margin-right: 16px;
    width: 309px !important;
}

.slick-slider .slick-next:before, .slick-slider .slick-prev:before {
    color: black;
}

.slick-list, .slick-track {
    /* height: 320px; */
    display: flex;
}

.skeleton-collectonImg {
    width: 100%;
    height: 200px;
}

.skeleton-collectonAuthorImg, .skeleton-topAuthorImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.skeleton-collectonTitle, .skeleton-topTitle, .skeleton-newTitle {
    width: 100px;
    height: 20px;
}

.skeleton-collectonERC {
    width: 60px;
    height: 20px;
}

.newItem__wrap {
    width: 309px;
}

.skeleton-newImg {
    width: 50px;
    height: 50px;
    border-radius: 999px;
}

.skeleton-newAuthorImg {
    width: 100%;
    height: 350px;
    margin-bottom: 8px;
}

.skeleton-newDF {
    display: flex;
    flex-direction: column;
}

.skeleton-newName {
    width: 180px;
    height: 30px;
}

.skeleton-newLikes {
    width: 30px;
    height: 15px;
}

.skeleton-topPrice {
    width: 40px;
    height: 20px;
}

/* #section-items .container .row .slick-slider {
    height: 516px;
} */